@import 'tailwindcss/base';

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  @apply h-screen w-screen bg-gray-100 dark:bg-black text-gray-900 dark:text-gray-300;
}

section {
  @apply mb-12;
}

h1,h2,h3,h4,h5,h6 {
  @apply text-black dark:text-white;
  font-family: 'Rubik', sans-serif;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
