@import 'tailwindcss/base';

html {
  font-family: 'Poppins', sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  @apply text-sm md:text-base;
}

body {
  @apply h-screen w-screen bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-400;
}

section {
  @apply mb-12;
}

h1,h2,h3,h4,h5,h6 {
  @apply text-black dark:text-white;
  font-family: 'Rubik', sans-serif;
}

a {
  @apply hover:underline;
}

hr {
  @apply w-10/12 h-0.5 bg-gray-300 dark:bg-gray-900;
}

.nuxt-content img {
  @apply bg-white;
}
.glass {
  @apply rounded-md blur-md;
  background: linear-gradient(134.23deg, rgba(255, 255, 255, 0.6) 2.91%, rgba(255, 255, 255, 0.1) 101.26%);
}

.dark {
  & .glass {
    @apply rounded-md blur-md;
    background: linear-gradient(134.23deg, rgba(17, 24, 39, 0.6) 2.91%, rgba(17, 24, 39, 0.1) 101.26%);
  }
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
